* {
    font-family: Raleway;
}

.title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
    color: black;
    text-align: center;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.card {
    background-color: rgb(62, 121, 209);
    width: 320px;
    /* box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3); */
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    transition: all 0.3s;
}

.card:hover {
    background-color: white;
    width: 320px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
}
.card:hover h3,
.card:hover p {
    color: rgb(62, 121, 209);
}

.card-info {
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.card-info p {
    color: white;
}

.loading {
    text-align: center;
}

.figure {
    width: 100%;
    border-radius: 24px;
}

.card-info img {
    width: 320px;
    border-radius: 30px;
    object-fit: cover;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
h3 {
    font-size: 18px;
    font-weight: bold;
    padding: 30px;
    padding-bottom: 10px;
    color: white;
    text-align: left;
}

p {
    width: 100%;
    color: white;
    font-weight: 500;
    text-align: left;
    padding-left: 30px;
}